h1 {
  color: #9b212d;
}

a {
  text-decoration: none;
  color: #fff;
}

.botonesnav{
    display: flex;
    gap: 1rem;
}

/* @media (max-width:550px){
  .navbar.bg-dark{
    min-width: 200vw;
  } */
  
}
